---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "pocha.moe";
---

<MainLayout pageTitle={pageTitle}>
<div class="grid place-items-center h-screen content-center text-base-7">
	<p>Hello, world! I'm <span class="text-sky-700">Pochama</span>. This site is a work in progress.</p>
	<p>Here are some links in the meantime:</p>
	<ul class="list-disc">
		<li><a class="text-blue-600" href="https://github.com/mercurialworld">GitHub</a></li>
		<li><a class="text-blue-600" href="https://musicpresence.pocha.moe">Music Presence player compatibility</a></li>
	</ul>
</div>
</MainLayout>
