---
import MainLayout from "../layouts/MainLayout.astro";
import Bio from "../components/Bio.astro";

const pageTitle = "pocha.moe";
---

<MainLayout pageTitle={pageTitle}>
<Bio/>
<div class="py-5 flex justify-center items-center">
	<div>
		<p class="mb-5">If you were looking for things I make/maintain that you might want to use, here they are:</p>
		<h2 class="mb-2 mt-2 text-2xl lowercase"><a class="underline" href="https://musicpresence.app">Music Presence</a></h2>
		<ul class="list-disc">
			<li><a class="text-(--accent)" href="https://musicpresence.pocha.moe">Player compatibility</a></li>
		</ul>
		<br>
		<h2 class="mb-2 mt-2 text-2xl lowercase"><a class="underline" href="https://theblackparrot.me/overlays">TheBlackParrot's stream overlays</a></h2>
		<ul class="list-disc">
			<li><a class="text-(--accent)" href="https://github.com/mercurialworld/tbp-overlay-cider-bridge">Now Playing Cider Bridge</a></li>
			<li><a class="text-(--accent)" href="https://github.com/mercurialworld/tbp-overlay-ytm">Now Playing YouTube Music Bridge</a></li>
		</ul>
		<br>
		<h2 class="mb-2 mt-2 text-2xl lowercase"><a class="underline">Beat Saber mods</a></h2>
		<ul class="list-disc">
			<li><a class="text-(--accent)" href="https://github.com/mercurialworld/DumbRequestManager">DumbRequestManager (fork)</a></li>
		</ul>
		<p class="mt-5 mb-5">If you think any of the things I make are at all useful, feel free to <a class="text-(--accent)" href="https://coff.ee/mercurialworld">buy me a coffee!</a></p>
	</div>
</div>
</MainLayout>
