---
import { IconBrandGithub, IconBrandLastfm } from "@tabler/icons-react";
---

<div class="flex flex-col sm:flex-row justify-center items-center">
	<div class="flex-1">
		<img class="aspect-square scale-50 rounded-full" src="https://github.com/mercurialworld.png" alt="My GitHub profile photo.">
	</div>
	<div class="text-left flex-2">
		<h1 class="text-6xl lowercase">Hi, I'm <span class="text-sky-700">Pocha!</span></h1><br>
		<p>I'm a blue penguin who develops software and administrates systems. I'm someone who tries anything once, even if in the end I never want to use it again.</p>
		<p>I like playing rhythm games and playing around with my homeserver. I also like automating things to make my life easier.</p>
		<br>
		<div class="flex flex-row">
			<a href="https://github.com/mercurialworld"><IconBrandGithub size={30}/></a>
			<a href="https://www.last.fm/user/emperte"><IconBrandLastfm size={30}/></a>
		</div>
	</div>
</div>