---
import '../styles/global.css';
const { pageTitle } = Astro.props;
import { Tooltips } from 'astro-tooltips';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/pipfavicon.png" />
		<Tooltips interactive={false} delay={[15, 15]} />
		<title>{pageTitle}</title>
	</head>
	<body class="py-5 dark justify-center max-w-3/4 mx-auto">
		<slot />
	</body>
</html>
